<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <labe for="username">Username</labe>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <labe for="email">Email</labe>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <labe for="password">Password</labe>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>